body {
    text-align: center;
    }   

h1 {
    background-color: #00ff4c;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: cursive;
    }

header {
    background-color: #333;
    color: #f9f1f1;
    padding: 20px;
    text-align: center;
    }

h3 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
    }

h2 {
    color: #000000;
    text-align: center;
   margin-top: 20px;
    }

p {
    margin: 20px;
    line-height: 1.5;
    }

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    }
footer {
      background-color: #ffffff;
      color: #000000;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

.Boton {
    display: inline-block;    
    margin-top: 30px;
    color:#000000;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px 35px;
    }     

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
        grid-gap: 10px; /* Espacio entre los elementos */
        padding: 10px;
    }
    
    .item1, .item2, .item3, .item4 {
        background-color: #4CAF50; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 20px;
        text-align: center;
    }
